.title {
  color:blue;
}


.dice {
  width: 50px;
  height: 50px;
}

.start-button {
  color: blue;
  width: 50px;
  height: 50px;
  border: solid;
  padding: 20px;
  text-decoration: none;
}
.start-button:hover {
  background-color: blue;
  color: white;
  width: 50px;
  padding: 20px;
  height: 50px;
  border: solid;
  text-decoration: underline;
}